@model ProjectDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Project.OwnerDepartment)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Project.OwnerDepartment.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Project.RelatedDepartments)
        </dt>
        <dd class="col-sm-9">
            @(string.Join(", ", Model.RelatedDepartments.Select(d => d.Name)));
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Project.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
