@model IEnumerable<Department>

@{
    ViewData["Title"] = "Department Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Departments</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="row form-group">
                <div class="col-xl-10 offset-xl-1">
                    <div class="card-tools">
                        <form asp-action="Index" method="get">
                            <div class="input-group input-group-sm" style="width: 150px;">

                                <input type="text" name="searchString" value="@ViewBag.SearchString" placeholder="Filter Departments" class="form-control float-right">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Departments</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name) @Html.ActionLink("", "Index", new { sortOrder = ViewBag.NameSortParm, searchString = ViewBag.SearchString }, new { @class = "fas fa-sort" })
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DepartmentHead) @Html.ActionLink("", "Index", new { sortOrder = ViewBag.DepartmentHeadSortParm, searchString = ViewBag.SearchString }, new { @class = "fas fa-sort" })
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DepartmentHead.FirstName) @Html.DisplayFor(modelItem => item.DepartmentHead.LastName)
                                            </td>
                                            <td>
                                                <a class="btn btn-primary fa fa-pen font-weight-bold" asp-action="Edit" asp-route-id="@item.DepartmentId"></a>
                                                <a class="btn btn-info fa fa-eye font-weight-bold" asp-action="Details" asp-route-id="@item.DepartmentId"></a>
                                                <a class="btn btn-danger fa fa-trash-alt font-weight-bold" asp-action="Delete" asp-route-id="@item.DepartmentId"></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <a class="btn btn-primary" asp-action="Create">Create New</a>
                </div>
            </div>
        </section>
    </div>
